/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: FASTQC_RAW {
        ext.args = '--quiet'
        publishDir = [
            path: { "${params.outdir}/fastqc/raw" },
            mode: params.publish_dir_mode,
            pattern: "*.html"
        ]
        ext.prefix = { "${meta.id}_raw" }
        tag = { "${meta.id}_raw" }
    }

    withName: FASTQC_PREPROCESSED {
        ext.args = '--quiet'
        publishDir = [
            path: { "${params.outdir}/fastqc/preprocessed" },
            mode: params.publish_dir_mode,
            pattern: "*.html"
        ]
        ext.prefix = { "${meta.id}_preprocessed" }
        tag = { "${meta.id}_preprocessed" }
    }

    withName: CUSTOM_DUMPSOFTWAREVERSIONS {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            pattern: '*_versions.yml'
        ]
    }

    withName: 'MULTIQC' {
        ext.args   = params.multiqc_title ? "--title \"$params.multiqc_title\"" : ''
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'TRIMMOMATIC' {
        ext.args2  = params.trimmomatic
        publishDir = [
            path: { "${params.outdir}/trimmomatic" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            pattern: "*.{summary}"
        ]
    }

    withName: 'BWAMEM2_HOST_REMOVAL_BUILD' {
        publishDir = [
            enabled: false
        ]
    }

    withName: 'BWAMEM2_HOST_REMOVAL_ALIGN' {
        publishDir = [
            enabled: false
        ]
    }

    withName: 'BWAMEM2_BUILD' {
        publishDir = [
            enabled: false
        ]
    }

    withName: 'BWAMEM2_ALIGN' {
        publishDir = [
            enabled: false
        ]
    }

    withName: 'BWA_BUILD' {
        publishDir = [
            enabled: false
        ]
    }

    withName: 'BWA_ALIGN' {
        publishDir = [
            enabled: false
        ]
    }

    withName: 'ALIGNCOV' {
        publishDir = [
            path: { "${params.outdir}/aligncov/${params.aligner}" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'PREPROCESS_STATS' {
        publishDir = [
        path: { "${params.outdir}/preprocess_stats" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'KMA_INDEX' {
        publishDir = [
            enabled: false
        ]
    }

    withName: 'KMA_ALIGN' {
        ext.args = '-mem_mode -ex_mode -1t1'
        publishDir = [
            enabled: false
        ]
    }

    withName: 'KMA_SAM_TO_SORTED_BAM' {
        publishDir = [
            enabled: false
        ]
    }

}
