/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running on OLC's cluster
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines execution options and $NXF_SINGULARITY_CACHEDIR for running processes as
    jobs with Singularity on the Ottawa Laboratory Carling's high performance compute
    cluster.
----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'OLC'
    config_profile_description = 'The OLC cluster profile'
}

singularity {
    enabled = true
    autoMounts = true
}

process {
    executor = 'slurm'
    maxRetries = 3
}

executor {
    queueSize = 15
    submitRateLimit = '10 sec'
}