// process {

//     withName: FASTQC {
//         conda "bioconda::fastqc=0.11.9"
//         container "${ workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ?
//             'https://depot.galaxyproject.org/singularity/fastqc:0.11.9--0' :
//             'biocontainers/fastqc:0.11.9--0' }"
//     }

//     withName: TRIMMOMATIC {
//         conda "bioconda::trimmomatic=0.39"
//         container "${ workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ?
//             'https://depot.galaxyproject.org/singularity/trimmomatic:0.39--hdfd78af_2':
//             'biocontainers/trimmomatic:0.39--hdfd78af_2' }"
//     }

//     withName: MULTIQC {
//         conda "bioconda::multiqc=1.15"
//         container "${ workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ?
//             'https://depot.galaxyproject.org/singularity/multiqc:1.15--pyhdfd78af_0' :
//             'biocontainers/multiqc:1.15--pyhdfd78af_0' }"
//     }

//     withName: BWA_INDEX {
//         conda "bioconda::bwa=0.7.17"
//         container "${ workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ?
//             'https://depot.galaxyproject.org/singularity/bwa:0.7.17--hed695b0_7' :
//             'biocontainers/bwa:0.7.17--hed695b0_7' }"
//     }

//     withName BWA_ALIGN {
//         conda "bioconda::bwa=0.7.17"
//         container "${ workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ?
//             'https://depot.galaxyproject.org/singularity/bwa:0.7.17--h5bf99c6_8' :
//             'biocontainers/bwa:0.7.17--h5bf99c6_8' }"
//     }

// }