/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running on Waffles
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines execution options and $NXF_SINGULARITY_CACHEDIR for running processes as
    jobs with Singularity on the National Microbiology Laboratory's Waffles high 
    performance compute cluster.
----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Waffles'
    config_profile_description = 'The Waffles cluster profile'
}

singularity {
    enabled = true
    autoMounts = true
    cacheDir = "/Drives/O/GRDI-AMR2/share/singularity/"
}

process {
    executor = 'slurm'
    queue = 'ExternalResearch'
    maxRetries = 3
}

executor {
    queueSize = 30
    submitRateLimit = '5 sec'
}